DoubleML==0.5.2
FLAML==1.2.0
ipykernel==6.17.1
ipython==8.7.0
lightgbm==3.3.5
matplotlib==3.6.2
matplotlib-inline==0.1.6
numpy==1.23.5
pandas==1.5.2
patsy==0.5.3
plotly==5.11.0
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.12.1
sklearn==0.0.post1
statsmodels==0.13.5
xgboost==1.7.5
